:root {

  /* ORIGINAL */
  --lt-sh-clr: #FFFCC5;
  --lt-acc-clr: #73B299;
  --main-clr: #DA9C71;
  --dk-acc-clr: #876D55;
  --dk-sh-clr: #2C2C29;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

/* Mobile first */
body {
  background-color: var(--lt-sh-clr);
  display: grid;
  height: 100vh;
  grid-template-rows: 100px 1fr 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lt-acc-clr);
}

.header-menu {
  height: 100%;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.header-menu a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--lt-sh-clr);
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;

}

button {
  background-color: var(--dk-acc-clr);
  color: var(--lt-sh-clr);
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  border: 1px solid var(--main-clr);
  margin: 1rem auto;
  cursor: pointer;
}

button:hover {
  box-shadow: 4px 4px 5px var(--dk-acc-clr);
}

button:active {
  box-shadow: none;
}

.overlay-popUp {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
}

.popUp {
  display: none;
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  background-color: var(--lt-acc-clr);
  color: var(--lt-sh-clr);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1rem;
  align-items: center;

  z-index: 11;
}

.popUp>legend {
  font-size: 1.5em;
}

.overlay-popUp>form {
  display: none;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2em;
}

.popUp input {
  font-size: 1em;
  border-radius: 0.5em;
  padding: .2em;
  border: none
}

.close-form {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  background-color: transparent;
}

.close-form:hover {
  text-shadow: 1px 1px 2px black;
}

.close-form:active {
  text-shadow: none;
}

.book-container {
  padding: 1rem;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.book-card {
  position: relative;
  background-color: var(--main-clr);
  color: var(--dk-sh-clr);
  border: 1px solid var(--dk-acc-clr);
  border-radius: 1rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  word-wrap: break-word;
}

.book-card>p {
  border-bottom: 1px solid #FFFCC533;
}

.book-card>p:nth-child(3)::after {

  content: 'pp';
  font-style: italic;
  font-size: 0.8em;
}

.book-card>p:nth-child(4) {
  border-bottom: none;
  font-size: 0.8em;
}

.book-card>p:first-child {
  font-weight: 900;
  border-bottom: 1px solid #FFFCC566;
}



.book-card-menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 80%;
  top: 1rem;
}

.book-card-menu>img {
  width: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.book-card-menu>img:hover {
  background-color: var(--lt-sh-clr);
}

input[type='checkbox'].toggle {
  display: none;
  position: absolute;
}

input[type='checkbox'].toggle+label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

input[type='checkbox'].toggle:focus+label::before {
  outline: 1px solid black;
}

input[type='checkbox'].toggle:active+label::before {

  outline: 1px solid black;
}

input[type='checkbox'].toggle+label::before {
  content: '';
  width: 3em;
  height: 1.5em;
  background-color: hsl(0, 75%, 80%);
  border-radius: 1em;
  border: 1px solid var(--dk-sh-clr);
  margin-right: 0.25em;
  transition: 200ms;
}


input[type='checkbox'].toggle+label::after {
  content: '';
  width: 1.2em;
  height: 1.2em;
  background-color: hsl(0, 75%, 50%);
  border-radius: 1em;
  position: absolute;
  left: 0.1em;
  transition: 200ms;

}

input[type='checkbox'].toggle:checked+label::before {
  content: '';
  width: 3em;
  height: 1.5em;
  background-color: hsl(108, 31%, 61%);
  border-radius: 1em;
  margin-right: 0.25em;

}

input[type='checkbox'].toggle:checked+label::after {
  content: '';
  background-color: hsl(108, 31%, 31%);
  left: 1.6em;

}

footer {
  text-align: center;
}


/* Tablet size */
@media only screen and (min-width: 480px) and (max-width: 750px) {
  main {
    /* background-color: purple; */
    width: 90%;
    margin: 0 auto;
  }

  header {
    justify-content: space-around;
  }
}

/* desktop size */
@media only screen and (min-width: 751px) {

  main {
    /* background-color: brown; */
    width: 80%;
    margin: 0 auto;
  }

  header {
    justify-content: space-around;
  }
}